pandas
langchain-community
langchain
annotated-types
streamlit
anyio
blis
boto3
botocore
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
jmespath
jsonpatch
jsonpointer
langchain-core
langchain-ollama
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
ollama
orjson
packaging
preshed
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
requests-toolbelt
rich
s3transfer
setuptools
shellingham
six
smart_open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
tenacity
thinc
tqdm
typer
typing_extensions
urllib3
uvicorn
uvloop
wasabi
watchfiles
weasel
websockets
wheel
wrapt
zstandard

# spaCy model (keep the URL as it is)
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85